h{
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.first{
    
    padding: 1vh;
    position: sticky;
}


nav a{
    
    color:red;
    padding: 1vh;
    margin: 1vh;
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-style: italic; */
}

nav a:hover{
    background-color: rgb(180, 210, 244);
    color:red;
    text-decoration: none;
    border-radius: 2vh;
}

.btn{
    display:inline-flex;
    background-color: rgb(180, 210, 244);
    color:black;
    padding: 12px;
    border: 2px;
    border-radius: 2vh;
    margin-left: 125vh;
    font-size: medium;
}

.btn:hover{
    background-color: darkblue;
    text-decoration: none;
    color:red;
    cursor:pointer;
}

.btn1{
    display:inline-flex;
    background-color: rgb(180, 210, 244);
    color:black;
    padding: 12px;
    border: 2px;
    border-radius: 2vh;
    margin-left: 1vh;
    font-size: medium;
}

.btn1:hover{
    background-color: darkblue;
    text-decoration: none;
    color:red;
    cursor:pointer;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
}

.mySlides{
    display:none;
}

.slideshow-container{
    position:relative;
    height:50vh;
}

.prev,
.next{
    cursor: pointer;
    position:absolute;
    top:50%;
    width:auto;
    padding:16px;
    margin-top:-22px;
    color:white;
    font-size:18px;
    transition:0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:none;
}

.next{
    right:0;
    border-radius:3px 0 0 3px;
}

.prev:hover,
.next:hover{
    background-color: rgb(0, 0, 0,0.8);
}

/* Caption text */
.text {
    font-family:'Times New Roman', Times, serif;
    margin-top:1vh;
    color: rgb(241, 54, 219);
     /* font-size: 45px;  */
    /* padding: 8px 12px; */
    /* position:absolute; */
    bottom: 15px;
    width: 100%;
    text-align: center; 
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f1a1a1;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
        opacity: .4
    } 
  
    to {
        opacity: 1
    }
  }
  
  h1{
    margin-top: 8em;
  }
  .table tr{
    margin-top: 25em;
  }

  .table{
    align-items: center;
    border: solid black;
    border-spacing: 40px;
    border-radius: 8px;
  }

  td{
    /* border:solid black; */
    border-radius: 4px;
  }

  .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }